@import '@core/scss/base/bootstrap-extended/include'; // Bootstrap includes
@import '@core/scss/base/pages/page-auth.scss';

.auth-help-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

 .social-login {
  margin-top: 24px;
  text-align: center;
}

 .social-login a {
  border: 1px solid #EBE9F1;
  border-radius: 6px;
  padding: 7px;
}

.bg-color-img {
  height: 100vh;
}
.login-bg-img{
  height: 100%;
  width: 100%;
  object-fit: cover
}
.login-bg-logo{
  position: absolute;
  padding: 40px;
}
